@tailwind base;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply relative h-full text-gray-900 text-base;
  }

  #__next {
    @apply h-full;
  }

  a,
  button {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-400;
  }

  [type='checkbox'] {
    @apply text-blue-400 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-400;
  }

  [type='radio'] {
    @apply text-blue-400 border-gray-400 focus:outline-none focus:ring-0 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-400;
  }
}

.slider-left {
  animation: slideToLeftMobile 70s linear infinite;
}

.slider-left2 {
  animation: slideToLeftMobile 50s linear infinite;
}

@media (min-width: 1024px) {
  .slider-left {
    animation: slideToLeftDesktop 70s linear infinite;
  }

  .slider-left2 {
    animation: slideToLeftDesktop 50s linear infinite;
  }
}

@keyframes slideToLeftMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideToLeftDesktop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@tailwind components;

@tailwind utilities;
